<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <h1>Hi {{ username }}</h1>

    <p>
      Please click on the link below to delete your account:

      <a
        href="{{ protocol }}://{{ domain }}{% url 'DeleteAccount' uidb64=uid token=token %}"
        >DELETE ACCOUNT.</a
      >
    </p>
  </body>
</html>