@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Gelion Regular Italic";
  font-style: normal;
  font-weight: normal;
  src: url("./fonts/Gelion Regular Italic.woff") format("woff");
}

@font-face {
  font-family: "Gelion Regular";
  font-style: normal;
  font-weight: normal;
  src: url("./fonts/Gelion Regular.woff") format("woff");
}

@font-face {
  font-family: "Gelion Light";
  font-style: normal;
  font-weight: normal;
  src: url("./fonts/Gelion Light.woff") format("woff");
}

@font-face {
  font-family: "Gelion Light Italic";
  font-style: normal;
  font-weight: normal;
  src: url("./fonts/Gelion Light Italic.woff") format("woff");
}

@font-face {
  font-family: "Gelion Medium Italic";
  font-style: normal;
  font-weight: normal;
  src: url("./fonts/Gelion Medium Italic.woff") format("woff");
}

@font-face {
  font-family: "Gelion Medium";
  font-style: normal;
  font-weight: normal;
  src: url("./fonts/Gelion Medium.woff") format("woff");
}

@font-face {
  font-family: "Gelion Semi Bold Italic";
  font-style: normal;
  font-weight: normal;
  src: url("./fonts/Gelion SemiBold Italic.woff") format("woff");
}

@font-face {
  font-family: "Gelion Semi Bold";
  font-style: normal;
  font-weight: normal;
  src: url("./fonts/Gelion SemiBold.woff") format("woff");
}

@font-face {
  font-family: "Gelion Bold Italic";
  font-style: normal;
  font-weight: normal;
  src: url("./fonts/Gelion Bold Italic.woff") format("woff");
}

@font-face {
  font-family: "Gelion Bold";
  font-style: normal;
  font-weight: normal;
  src: url("./fonts/Gelion Bold.woff") format("woff");
}

.Gelion-Regular {
  font-family: "Gelion Regular" !important;
  font-weight: normal;
}
.Gelion-Semi-Bold {
  font-family: "Gelion Semi Bold" !important;
}
.Gelion-Bold {
  font-family: "Gelion Bold" !important;
}

/* Auto fill background color on inputs */
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0 30px rgb(234, 255, 225) inset !important;
}

.btn {
  @apply bg-[#4558ff] text-white text-center rounded-lg py-3 Gelion-Semi-Bold cursor-pointer hover:brightness-90 active:outline active:outline-offset-4 active:outline-4 active:outline-[#4558ff];
}

.input-error {
  @apply border-[#fb7373] focus:border-[#fb7373] border-[2px] focus:ring-transparent;
}
